* {
  margin: 0;
  padding: 0;
}
.contenedor {
  width: 75rem;
  margin: 0 auto;
}
.header {
  background-color: #124b83;
  padding: 15px;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  text-align: center;
  text-decoration: none;
  gap: 10px;
  align-self: center;
}
.contenedor-header h1 {
  align-self: center;
}
body {
  font-family: "Kanit", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.nav {
  align-self: center;
}
.menu-li {
  list-style: none;
  align-content: center;
  cursor: pointer;
  padding-top: 3px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 3px;
}
.menu-li:hover {
  color: aliceblue;
  font-weight: bold;
  transition: 550ms;
}
.menu-li:last-child {
  border: 1px solid aliceblue;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
.menu-li:last-child:hover {
  background-color: aliceblue;
  transition: 850ms;
  color: black;
}
.contenedor-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: aliceblue;
}

.footer-linea {
  border: 1.5px solid #dee4e4;
}
.footer-contenido {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-contenido h3 {
  font-weight: bold;
  margin-bottom: 2rem;
}
.footer-icono {
  width: 30px;
  stroke: #124b83;
  background-color: #124b83;
  color: #124b83;
}
.footer-lista {
  list-style: none;
  cursor: pointer;
  margin: 0 auto;
}
.lista-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-lista li {
  margin-bottom: 2rem;
}
.footer-lista li:last-child {
  margin-bottom: 3rem;
}
.footer-lista li:hover {
  color: #c8cdcd;
  transition: 450ms;
}
.figure-proyectos:hover {
  transform: translateY(-4.5%);
  transition: 1500ms;
}
/*****header fijado****/
header {
  background-color: #124b83;
  /*padding: 15px;*/
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 10000;
}
.error {
  color: red;
  margin-left: 3.4rem;
  margin-top: 0.7rem;
}

input.error {
  border: 1px solid red;
}
textarea.error {
  border: 1px solid red;
}
