.pantalla-inicio {
  background-color: #124b83;
  height: 90vh;
}
.texto {
  color: aliceblue;
  margin-bottom: 50px;
  font-size: 2.3rem;
}
.pantalla-proyectos {
  height: 92vh;
}
.contenedor-presentacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
  margin: 0 auto;
  height: 700px;
  padding-top: 30px;
}
.presentacion {
  align-self: center;
}
.texto-presentacion {
  color: aliceblue;
  font-size: 7rem;
  font-weight: bold;
  padding-top: 15%;
}
.btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid aliceblue;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.btn:hover {
  background-color: #124b83;
  color: aliceblue;
  transition: 500ms;
}
.titulo-presentacion {
  font-weight: bold;
  color: aliceblue;
}
.figure-proyectos {
  border: 1px solid #c8c6c6;
  width: 80%;
  margin: 0 auto;
  /**/
  position: relative;
  text-align: center;
  /**/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}
figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.tarjeta-img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10%;
}
.btn-tarjeta {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #124b83;
  color: aliceblue;
  border: 1px solid #124b83;
  /**/
  position: absolute;
  bottom: 10px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
  left: 50%;
  transform: translateX(-50%);
}
.btn-tarjeta:hover {
  background-color: aliceblue;
  border: 1px solid #124b83;
  color: black;
  transition: 750ms;
}
.tarjeta-titulo {
  text-align: center;
  margin-bottom: 10px;
}
.proyecto-descripcion {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 12px;
}
.proyecto-caracteristica {
  margin-top: auto;
}
.btn-tarjeta {
  margin-top: 10px;
}
.proyecto-caracteristica ul {
  padding-left: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 30%;
}
.caracteristica-primero {
  color: aliceblue;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #4bb5cd;
  border-radius: 8px;
}
.caracteristica-primero:last-child {
  color: aliceblue;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #4bcd94;
  border-radius: 8px;
}
.caracteristica-tercero {
  background-color: #b153da;
  border-radius: 8px;
  color: aliceblue;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.caracteristica-tercero-dos {
  background-color: #ffd700;
  border-radius: 8px;
  color: aliceblue;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.caracteristica-tercero:last-child {
  background-color: #4bcd94;
  border-radius: 8px;
  color: aliceblue;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.caracteristica-segundo {
  color: aliceblue;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #ffd700;
  border-radius: 8px;
}
.caracteristica {
  list-style: none;
  background-color: #ef8311;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: aliceblue;
  border-radius: 8px;
}
.caracteristica:last-child {
  background-color: #e3a60f;
}
.pantalla-proyectos h2 {
  font-size: 32px;
  margin-bottom: 50px;
}
.link-proyectos:hover {
  color: #88c7ee;
}
.pantalla-contactame {
  height: 100vh;
  background-color: #fbf8ef;
}

.pantalla-contactame h2 {
  font-size: 32px;
  margin-bottom: 50px;
}
.tarjeta-contenedor {
  /*background-color: red;*/
  height: 600px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  align-self: center;
  border-radius: 5%;
  /*height: 460px;*/
  height: auto;
}
.contenido-formulario {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
}
.icono-menu {
  display: none;
}
.input-contenido {
  width: 400px;
  margin: 0 auto;
  /**/

  padding: 12px 20px;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}
.btn-formulario {
  padding: 10px;
  background-color: #ffd700;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 17px;
  border-radius: 0 0 10px 10px;
}
.btn-formulario:hover {
  background-color: #b39e27;
  transition: 850ms;
}
.contenido-formulario label {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 50px;
}
/**transicion de texto*/
.figure-proyectos,
.link-proyectos,
.formulario,
.footer-contenido {
  transform: translateY(20px);
  opacity: 0;
  transition: 1s ease;
}
.figure-proyectos--visible,
.link-proyectos--visible,
.formulario--visible,
.footer-contenido--visible {
  transform: translateY(0);
  opacity: 1;
}
.menu-responsive {
}
