@media (max-width: 27rem) {
  html,
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .header {
    padding: 0;
    margin-bottom: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contenedor-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .nav {
    display: none;
  }
  .contenedor-header h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .contenedor-tarjetas {
    display: flex;
    flex-direction: column;
  }
  .pantalla-proyectos {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 auto;
  }
  .copy {
    display: flex;
    justify-self: center;
    margin-left: 1rem;
  }
  section {
    margin-bottom: -10rem;
  }
  .espacio-figure {
    margin-bottom: 0;
  }
  .header {
    position: fixed;
  }
}
.menu-responsive {
  display: none;
}
/*** navegador ***/
@media only screen and (max-width: 768px) {
  .menu-responsive {
    display: block;
  }

  .responsive-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  .responsive-menu li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555;
  }

  .menu-responsive img {
    display: block;
    cursor: pointer;
    margin: 10px;
  }
}
.icono-menu {
  width: 3rem;
  float: right;
  display: flex;
}
