* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.navegador {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #100e0e;
  padding: 7px 0 6px 0;
}

.lmenu {
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  display: grid;
  grid-template-columns: 250px 250px 250px;
  align-items: center;
  gap: 25px;
}
.emenu {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
.emenu:hover {
  color: #0b8cc3;
}
.titulo {
  padding-left: 10%;
  color: #ffffff;
}

.proto {
  width: 100vh;
  height: 100vh;
}

.proto2 {
  height: 100vh;
  background-color: #fbf8ef;
}
.fo {
  background-color: #100e0e;
}
/*********************************/
.contenedor {
  position: relative;
  /*width: 100vw;
  height: 100vh;*/

  overflow: hidden;
}

.MImagen {
  /*object-fit: cover;
  display: block;
  background: rgba(163, 23, 23, 0.5);*/
  /*width: 100%;
  height: 100%;*/
  object-fit: cover;
  display: block;
  position: relative;
  /**/
  background-image: url(/img/img6.jpg);
  background-size: cover;
  height: 100vh;
}

.texto-superpuesto {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0%, -50%);
  color: #fff; /* Color del texto */
  font-size: 24px; /* Tamaño de fuente del texto */
  text-align: center;
  z-index: 1;
  display: grid;
}
.Mdescripcion {
  width: 400px;
  text-align: left;
}
/************************************/
.seccion1 {
  height: 100vh;
  background-color: #fbf8ef;
  position: relative;
}
.seccion2 {
  height: 100vh;
}
.seccion3 {
  height: 100vh;
  background-color: #fbf8ef;
}
.Mimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative; /* Cambiamos a position: relative */
}
.tsuperpuesto {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: Arial, sans-serif;
}
.Mcaja {
  width: 420px;
  text-align: left;
}
.tarjetas {
  border-radius: 10px;
  border: #c8c6c6 1px solid;
  width: 350px;
  height: 150%;
}
.TImagen {
  width: 350px;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}
.PTarjetas {
  /*width: 1200px;
  border: #100e0e 1px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;*/
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3.2%;
}
.Tbtn {
  text-align: center;
  margin-bottom: 10px;
}
.Tseccion {
  font-size: 75px;
  padding-left: 25px;
  margin-bottom: 45px;
}
.link {
  padding-left: 10%;
  font-size: 25px;
}
.Ccuadro {
  border-radius: 15px;
  width: 25%;
  height: 150%;
  background-color: #ffffff;
  margin-right: 5%;
  display: grid;
  padding-left: 20px;
  padding-top: 25px;
}
.Pcuadro {
  display: grid;
  justify-items: right;
}
.Ctitulo {
  margin-bottom: 15px;
}
.col-md-11 {
  margin-top: -3px;
}
.btnContacto {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Ttexto {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.unico {
  margin-bottom: px;
}
.foot {
  background-color: #100e0e;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Ftexto {
  color: #ffffff;
  text-decoration: none;
}
.Cfoot {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  text-align: center;
  justify-content: space-between;
  align-self: center;
}
.Fbtn {
}
.tarjeta-titulo {
  text-align: center;
}
.emenu:last-child {
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  color: #100e0e;
  width: 150px;
}
.emenu:last-child:hover {
  background-color: #c8c6c6;
}
.ficon {
  width: 1.6rem;
}
.iconins {
  stroke: #fff;
  color: #fff;
  background-color: #fff;
}
.error {
  color: red;
}

input.error {
  border: 1px solid red;
}
textarea.error {
  border: 1px solid red;
}
.success-message {
  /*color: green;
  margin-top: 10px;
  background: green;*/
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: var(--bs-border-radius);
  --bs-alert-link-color: inherit;
  position: relative;

  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);

  border-radius: var(--bs-alert-border-radius);
}
/** prueba */

/*
#FFFFFF -- color de textos
#0B8CC3 -- color de los botones
#100E0E -- color negro
#FBF8EF -- color de fondo del contactame
*/
